h1{color:blue;}
header, footer, article, hgroup, aside, section, nav{display:block;}
*{
  margin:0px;
  padding:0px;
}
body{
  text-align:center;
}
#ana_kisim {
  width:1000px;
  margin:15px auto;
  border:1px solid red;
}
#ana_baslik {
  border-bottom:2px dashed red;
  background-color:lightblue;
  color:white;
  padding:30px;
}
