h1{
  color:black;
  font-style:italic;
  font-size:50;
}

/*Tüm listeye etki eden kod*/
ul {
	color:green;
}

tr[value="TR"]{
	color:blue;
}
/*Değeri "ALM" olan tr değerini etkileyen kod*/
tr[value="ALM"]{
	color:black;
}
/* Örneğin sadece ikinci satırı etkileyen kod*/
tr:nth-child(2){
	background-color:green;
}
* {
	margin:10px;
	padding:0px;
}